/*2.26: If you style the body element of the page all the other
 child elements will inherit those styles. */

<style>
  body {
    background-color: black;
    color: green;
    font-family: monospace;
  }

</style>

<h1>Hello World</h1>
